<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="'Въпрос: ' + ${question.text}"></title>
  <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body class="grid">

<nav class="navbar navbar-expand-md bg-dark navbar-dark container">
  <th:block th:replace="fragments/nav :: nav"></th:block>
</nav>

<main class="container">
  <article class="row">
    <section class="col-6">
      <h1>
        <a th:href="@{/admin/questions/{id}(id=${question.id})}" th:text="${question.text}"/>
      </h1>

      <ul class="list-group list-group-flush">
        <li th:each="answer: ${answers}" class="list-group-item">
          <a th:text="${answer.text}" th:href="@{/admin/answers/{id}(id=${answer.id})}"/>
        </li>
      </ul>
    </section>

    <aside class="col-6">
      <form th:action="@{/admin/questions/{id}(id=${question.id})}" th:object="${question}" method="POST">
        <div class="alert alert-danger"
             th:if="${#fields.hasGlobalErrors()}"
             th:each="error : ${#fields.errors('global')}"
             th:text="${error}">
          Validation error
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('text')}? 'has-error':''">
          <label for="text" class="control-label">Текст</label>
          <input id="text"
                 class="form-control"
                 th:field="*{text}"/>
          <p class="error-message"
             th:each="error: ${#fields.errors('text')}"
             th:text="${error}">Validation error</p>
        </div>
        <div class="form-group"
             th:classappend="${#fields.hasErrors('image')}? 'has-error':''">
          <label for="image" class="control-label">Изображение</label>
          <select id="image"
                  class="form-control"
                  th:field="*{image}">
            <option value="">Без изображение</option>
            <option th:each="state : ${T(tuo.model.QuestionImage).values()}"
                    th:value="${state}"
                    th:text="${state.displayName}">
            </option>
          </select>
          <p class="error-message"
             th:each="error: ${#fields.errors('image')}"
             th:image="${error}">Vlidation error</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Редактирай</button>
          <a th:href="@{/admin/questions/{id}/answers(id=${question.id})}" class="btn btn-primary">Добави отговори</a>
          <a th:href="@{/admin/questions/{id}/delete(id=${question.id})}" class="btn btn-danger">Изтрий</a>
        </div>
      </form>
    </aside>

  </article>
</main>

<th:block th:replace="fragments/footer :: footer"></th:block>

</body>
</html>
