<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Подготвителен рунд</title>
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>

    <main class="container">
      <article class="row">

        <section class="col-8">
          <p th:text="${question.text}"></p>
          <div class="row">
            <div class="col-md-6 justify-content-center align-self-center pl-lg-5">
              <form method="POST" th:action="@{preparation-stage}" th:object="${roundQuestionForm}">
                <div class="alert alert-danger"
                     th:if="${#fields.hasGlobalErrors()}"
                     th:each="error : ${#fields.errors('global')}"
                     th:text="${error}">
                  Validation error
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('answer')}? 'has-error':''">
                  <label th:each="answer: ${answers}" class="input-label radio">
                    <span th:text="${answer.text}"></span>
                    <input type="radio" th:value="${answer.id}" th:field="*{answer}">
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="alert alert-danger"
                     th:if="${#fields.hasErrors('answer')}">
                  Моля, посочете отговор.
                </div>

                <div class="form-group">
                  <button type="submit" class="btn btn-primary">Избери</button>
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <img class="img-fluid" th:if="${question.image}" th:src="@{/images/} + ${question.image} + @{.jpg}"/>
            </div>
          </div>
        </section>

        <aside class="col-4">
          <th:block th:replace="fragments/game/info :: info"></th:block>
        </aside>

      </article>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>

  </body>
</html>
