<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Правила</title>
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark container">
      <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>

    <main class="container">
      <article class="row">
        <section class="col-9">
          <h1>Правила на TUO</h1>
          <h2>Фаза Подготовка</h2>
          <p>
            Първата фаза от играта е т.нар. подготвителна фаза. Тя отразява учебните седмици на семестъра, като всеки
            рунд е една такава седмица. По време на всеки рунд на играча се задават от един до четири въпроса, като
            броят и вида на въпросите се определя на случаен принцип и всеки път е различен. Въпросите са с избираем
            отговор, като броят на възможните отговори също варира. Основната цел на играча по време на подготвителната
            фаза и да събере максимален брой точки знания и репутация, като всеки отговор носи или отнема такива. При
            повечето отговори зависимостта между знанията и репутацията е обратна и играчът трябва да прави избор между
            двете.
          </p>
          <h2>Фаза Война</h2>
          <p>
            Фазата на война е с продължителност пет рунда, като всеки рунд представлява един учебен изпит. Преди всеки
            изпит играчът трябва да заложи част от натрупаните точки знания през фазата на подготовка. На база този
            залог се изчислява оценката от съответния изпит. В реалния свят всеки изпит изисква различни усилия от и за
            това един и същ залог не винаги ще носи една и съща оценка. В следващата таблица е показана приблизителния
            брой точки, необходими за дадена оценка.
          </p>
          <ul>
            <li>Среден 3 - около 15 точки</li>
            <li>Добър 4 - около 20 точки</li>
            <li>Много добър 5 - около 25 точки</li>
            <li>Отличен 6 - Около 30 точки</li>
          </ul>
          <p>
            Веднъж направен, залогът е окончателен и точките не се възстановяват, независимо от оценката. Възможност за
            явяване на поправка на този етап също няма. Ако играчът употреби всичките точки знания преди края на фазата,
            всички останали рундове ще бъдат пропуснати и за всеки от тях играчът ще получи слаба оценка. Играчът има
            правото да пропусне доброволно изпит, като това става, чрез залагането на 0 точки за съответния рунд.
          </p>
          <h3>Краен резултат</h3>
          <p>
            След приключване на двете игрови фази, се извършва изчисляване на крайния резултат на играча. Това става по
            следния алгоритъм: На база получените оценки по време сесията се изчислява крайна средноаритметична оценка
            за семестъра. Тази оценка служи за множител, който се прилага върху натрупаните по време на учебните седмици
            репутация и така се изчислява крайния резултат. Всички точки знание, които не са изразходвани по време на
            бойните рундове, нямат участие в крайния резултат на играта. Резултатът е записа в системата и играчът може
            по всяко време да го види в своя профил.
          </p>
        </section>

      </article>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>

  </body>
</html>
