<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Final score</title>
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body class="grid">

    <nav class="col-12">
      <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>

    <main class="col-8">
      <p th:text="'Репутация: ' + ${gameData.points.reputation}"></p>

      <p>Оценки от сесията: </p>
      <ul>
        <li th:each="grade: ${gameData.grades}">
          <span th:text="${grade}"></span>
        </li>
      </ul>

      <p th:text="'Краен резултат: ' + ${finalScore}"></p>
    </main>

  </body>
</html>
