<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Technical University Online</title>
    <th:block th:replace="fragments/head :: head"></th:block>
  </head>
  <body class="grid">

    <nav class="col-12">
      <th:block th:replace="fragments/nav :: nav"></th:block>
    </nav>

    <aside class="col-3">
      <h1 th:text="'Учебна седмица ' + ${gameData.getCurrentRoundNumber()}"></h1>
      <p th:text="'Въпрос ' + ${round.getCurrentQuestionNumber()} + ' от ' + ${round.getRoundQuestions().size()}"></p>
      <p th:text="'Репутация: ' + ${gameData.points.reputation}"></p>
      <p th:text="'Знания: ' + ${gameData.points.knowledge}"></p>
    </aside>

    <main class="col-9">
      <p th:text="${question.text}"></p>
      <form method="POST" action="#" th:object="${roundQuestionForm}">
        <span th:if="${#fields.hasErrors('answer')}">Моля, посочете отговор.</span>
        <div th:each="answer: ${answers}">
          <label class="container"><span th:text="${answer.text}"></span>
            <input type="radio" th:value="${answer.id}" th:field="*{answer}">
            <span class="checkmark"></span>
          </label>
        </div>
        <input type="submit" value="Избери" class="button blue">
      </form>
    </main>

  </body>
</html>

