<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Game Info</title>
  </head>
  <body>
    <th:block th:fragment="info">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title"
              th:unless="${gameData.isExaminationReached()}"
              th:text="'Учебна седмица ' + ${gameData.getCurrentRoundNumber()}"/>
          <h2 class="card-title"
              th:if="${gameData.isExaminationReached()}"
              th:text="'Изпитна седмица ' + ${gameData.getCurrentBattleRoundNumber()}"/>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"
              th:unless="${gameData.isExaminationReached()}"
              th:text="'Въпрос ' + ${round.getCurrentQuestionNumber()} + ' от ' + ${round.getRoundQuestions().size()}"/>
          <li class="list-group-item" th:text="'Репутация: ' + ${gameData.points.reputation}"/>
          <li class="list-group-item" th:text="'Знания: ' + ${gameData.points.knowledge}"/>
        </ul>
      </div>
    </th:block>
  </body>
</html>




